.vmContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vmHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vmInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.vmInfo h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
}

.vmCount {
    width: 27px;
    height: 27px;
    background: #ffffff;
    color: #5f3196;
    border-radius: 100px;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vmBtn {
    width: 86px;
    height: 40px;
    background: #5f3196;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.vmBtn img {
    width: 16px;
    height: 16px;
}
