.checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
}

.checkbox label {
    color: #1e1a20;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.checkbox input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #5f3196;
}

.btnBack {
    color: #5f3196;
    background: none;
    border: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
}
